.FG_image{
        background-size: cover;
        background-position: center center;
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
}

.FG_button_list{
        bottom: 0;
        height: 20px;
        left: 0;
        margin: 0;
        padding: 0;
        position: absolute;
        width: 100%;
}

.FG_thumb_list{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 50px;
}

.FG_thumb_image{
        position: relative;
        float: left;
        height: 100%;
        width: 10%;
        cursor: pointer;
        list-style: none;
}

.FG_thumb_button{
        position: relative;
        float: left;
        height: 10%;
        width: 10%;
        cursor: pointer;
}

.FG_thumb_list_actual{
        box-shadow: 0 0 0px 4px #fff inset;
        -webkit-box-shadow: 0 0 0px 4px #fff inset;
        -moz-box-shadow: 0 0 0px 4px #fff inset;
}

.FG_buttons{
        margin: 0;
        padding: 0;
}

.FG_buttons > li{
        position: absolute;
        display:block;
        vertical-align: middle;
        height:  20px;
        width: 20px;
        opacity: 0.3;
        color: black;
        font-weight: 800;
        top: calc(50% - 20px);
        cursor: pointer;
        background: #fff;
        border-radius: 10px;
        margin: 5px;
}

.FG_buttons > li.prev{
      left: 0;
      text-align: center;
}

.FG_buttons > li.next{
      right: 0;
      text-align: center;
}

.FG_buttons > li.prev:before{
      content: '<';
}

.FG_buttons > li.next:before{
      content: '>';
}

.FG_buttons > li:hover{
        opacity: 1;
}