html,body{height:100%; width:100%;margin:0;padding:0;}

.background{
        height:100%; 
        width:100%; 
        position:fixed;
        overflow:hidden;
        z-index:-3;
}

.fixed{
        height: 500px;
        width: 600px;
        position: relative;
        z-index:1;
}

.container{
        position:absolute;
        top:0;
        left:0;
        width: 100%;
        height: 100%;
        display: block;
}

.container > .page{
        width: 80%;
        height:60%;
        margin-top: 10%;
        margin-left: 10%;
        margin-right: 10%;
        background-color: #fff;
        position: relative;
}

#gallery2{
        width:calc(100% - 10px);
        height: calc(100% - 10px);
        float:left;
        overflow: hidden;
        position: relative;
        margin:5px;
        z-index: 5;
}

#gallery3{
        width:calc(100% - 10px);
        height: 50%;
        float:left;
        overflow: hidden;
        position: relative;
        margin:5px;
        z-index: 2;
}
#gallery4{
        width:calc(100% - 10px);
        height: 50%;
        float:left;
        overflow: hidden;
        position: relative;
        margin:5px;
        z-index: 2;
}

#gallery2  h2{text-align: right;}

#gallery2 li{
        z-index: 10;
}

#logo{
        background: url("../img/logo.png") no-repeat scroll 0 0 / 100% auto rgba(0, 0, 0, 0);
        display: block;
        height: 40%;
        left: 0;
        position: absolute;
        top: 0;
        width: 25%;
        z-index: 0;
}

#backgroundVideoControls{
        display: block;
        height: 40%;
        right: 0;
        position: absolute;
        top: 0;
        width: 25%;
        z-index: 1;
}