/public_html/LICENSE.min
/public_html/css/FullGallery.js.min.css
/public_html/js/libs/fullgallery/FullGallery.min.min.js
.gitignore
LICENSE~
nbproject/private/private.properties
nbproject/private/private.xml
nbproject/project.properties
nbproject/project.xml
